.banner {
  height: 384px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(0, 0, 0, 0) 100%), url(../images/banner_bg.jpg) no-repeat center top/cover;
  padding-top: 94px;
}
.banner h2 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 56px;
}
.banner p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 24px;
  color: #4B5563;
}