.skeleton{
--skeleton:#eef1f6; 
--skeleton-2:#e3e8f1;
}

.productWrapper {
  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 32px;
}

.productWrapper aside {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 24px;
}

.productWrapper aside h2 {
  font-weight: 500;
  margin-bottom: 16px;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.filter h3 {
  margin-bottom: 12px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fields input {
  display: none;
}

.field {
  display: flex;
  align-items: center;
  gap: 12px;
}

.field input:checked+svg path {
  stroke: #3B82F6;
}

#resetFilter {
  display: flex;
  height: 36px;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
  border-radius: 8px;
  color: #4f5563;
}

.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-bottom: 48px;
}


.sort {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sort select {
  width: 200px;
  height: 36px;
  background: #efefef;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  padding: 0 13px;
}

.pagination,
.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.pagination .pageBtn {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .pageBtn.active {
  background: #3B82F6;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .productList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

@media screen and (max-width: 800px) {
  .productList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media screen and (max-width: 700px) {
  .productWrapper {    
    grid-template-columns: 1fr;    
  }
  .productWrapper aside{
    display: none;
  }
  .productList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

.skeletonBoxWrapper{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.skeletonBox{  
  height: 100px;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background: var(--skeleton);
  border-radius:16px;
}

.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, transparent 0%, color-mix(in oklab, var(--skeleton-2) 60%, transparent) 50%, transparent 100%);
  animation: shimmer 1.2s infinite;
  transform: translateX(-100%);
  /* 왼쪽에 배치 */
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }

  /* 오른쪽으로 이동 */
}
.cardSkeleton{
  height: 150px;
}