@charset "UTF-8";
/* 변수 */
/* 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}
#root{
  display: flex;
  flex-direction: column;
}
#root main{
  flex:1;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

input, button {
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
}

button:disabled {
  opacity: 0.2;
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 레이아웃 */
.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

main {
  background: #F9FAFB;
  padding: 32px 64px;
}

/* 타이포그래피 */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 19.88px;
  color: #111827;
}

/* 버튼 */
.btn {
  background: #3B82F6;
  border-radius: 8px;
  display: inline-block;
  color: #fff;
}

.btn.big {
  padding: 12px 32px;
}

.btn.sm {
  padding: 8px 16px;
}
